.header {
    position: relative;
    padding-inline:  var(--layout-padding, 10px);
    padding-block-start: var(--layout-padding, 10px);
    margin-block-end: var(--header-margin-block-end, 40px);
}

.decorated-zone::before {
    z-index: 1;
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-right: 1px solid #FF0070;
    border-top: 1px solid #FF0070;
    right: var(--layout-padding, 10px);
    top: var(--layout-padding, 10px);
}

.decorated-zone::after {
    z-index: 1;
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-left: 1px solid #FF0070;
    border-bottom: 1px solid #FF0070;
    bottom: var(--layout-padding, 10px);
    left: var(--layout-padding, 10px);
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    inline-size: 100%;
    block-size: 100%;
    background-image: var(--bg-image, url('/images/cover-image-dark.png'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.rec {
    position: absolute;
    display: none;
    align-items: center;
    gap: 10px;
    color: var(--accent-color);
    top: var(--layout-padding, 10px);
    right: calc(var(--layout-padding, 10px) + 9px);
}

.theme_dark .rec {
    display: flex;
}

.rec_circle {
    border: none;
    height: 9px;
    width: 9px;
    background-color: var(--button-color, #FF0070);
    box-shadow: 0px 0px 4px 2px var(--button-color, #FF0070);
    border-radius: 50%;
}

.header__theme-menu {
    padding-block-start: 65px;
    display: flex;
    justify-content: right;
    padding-block-end: 65px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-item {
    list-style: none;
}

.header__theme-menu-button {
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    color: var(--button-color, #FF0070);
    padding-inline: 13px;
    padding-block: 1px;
 }

 .header__theme-menu-button:hover {
    border: 1px solid var(--nav-hover-color, #FF007066);
    
 }

 .header__theme-menu-button:focus {
    outline: none;
 }

 .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--nav-color, #FF0070); 
 }

 .header__theme-menu-button_active {
    border: 1px solid var(--nav-color, #FF0070);
    pointer-events: none;
 }

 .header__title {
    font-size: var(--header-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
    font-weight: var(--font-bold, 700);
    line-height: 95.7px;
    text-align: left;
    color: var(--focus-color, #DB00FF);
    text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
    padding-block-end: 55px;
 }
