.header {
  min-block-size: 668px;
  block-size: 100vh;
  position: relative;
  padding-inline: var(--layout-padding, 10px);
  padding-block: var(--layout-padding, 10px);
  margin-block-end: 40px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--nav-color, #ff0070);
  border-top: 1px solid var(--nav-color, #ff0070);
  right: var(--layout-padding, 10px);
  top: var(--layout-padding, 10px);
}

.decorated-zone::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--nav-color, #ff0070);
  border-bottom: 1px solid var(--nav-color, #ff0070);
  bottom: var(--layout-padding, 10px);
  left: var(--layout-padding, 10px);
}

.rec {
  position: absolute;
  display: none;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  top: var(--layout-padding, 10px);
  right: calc(var(--layout-padding, 10px) + 9px);
}

.rec::after {
  content: '';
  border: 1px solid var(--nav-color, #ff0070);
  height: 9px;
  width: 9px;
  background-color: var(--nav-color, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--nav-color, #ff0070);
  border-radius: 50%;
}

.header__theme-menu {
  display: flex;
  justify-content: right;
  align-items: self-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--nav-color, #ff0070);
  block-size: 26px;
  inline-size: 70px;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color, #ff007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color, #ff0070);
  pointer-events: none;
}

.header__title {
  font-size: var(
    --focus-font-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  font-weight: var(--font-bold, 700);
  line-height: 95.7px;
  text-align: left;
  color: var(--focus-color, #db00ff);
  text-shadow: 4px 4px var(--focus-shadow-color, #ff0070);
}

.header__text {
  align-self: self-end;
}