.content {
    padding-inline: var(--layout-padding, 10px);
}

.case:not(:last-child) {
    margin-block-end: var(--case-margin-block-end, 50px);
}

.case__title {
    font-weight: var(--font-bold, 700);
    text-align: left;
    font-size: inherit;
    color: var(--card-title-color, #FF0070);
    margin-block-end: var(--card-margin-block-end, 20px);
}

.card:not(:last-child) {
    margin-block-end: var(--card-margin-block-end, 20px);
}

#big-margin {
    margin-block-end: 20px;
}

.card__title {
    margin-block-end: 10px;
}

.card__text {
    color: var(--text-color, #F1B2CE);
}

.card__text a {
    text-decoration: none;
    text-shadow: 2px  2px 0 var( --accent-color, #FF0070);
}

.title-decor {
    background-color: var(--accent-color, #FF0070);
    color: var(--title-color, #000028);
    font-weight: var(--font-bold, 700);
    font-size: 18px;
}

.font-weight__light {
    font-weight: var(--font-light, 400);
}

.case-4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.img_title {
    margin-block-end: 0;
  }

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}