.footer {
    position: relative;
    block-size: var(--block-size);
    padding-inline:  var(--layout-padding, 10px);
    text-align: center;
    align-content: center;
}

.footer__title {
    font-size: var(--header-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
    font-weight: var(--font-bold, 700);
    line-height: 95.7px;
    color: var(--focus-color, #DB00FF);
    text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}