.footer {
  min-block-size: 668px;
  block-size: 100vh;
  position: relative;
  padding-inline: var(--layout-padding, 10px);
  text-align: center;
  align-content: center;
}

.footer__title {
  font-size: var(
    --focus-font-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  font-weight: var(--font-bold, 700);
  line-height: 95.7px;
  color: var(--focus-color, #db00ff);
  text-shadow: 2px 2px var(--focus-shadow-color, #ff0070);
}
