.page.theme_light {
  --bg-image: url("../images/cover-image-light.png");
  --focus-color: #ffc2e6;
  --page-bg-cl: #fff1f7;
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --nav-hover-color: #353430;
  --card-title-color: #353430;
  --title-color: #353430;
  --text-color: #353430;
}

.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --focus-color: #ffc2e6;
    --page-bg-cl: #fff1f7;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --nav-hover-color: #353430;
    --card-title-color: #353430;
    --title-color: #353430;
    --text-color: #353430;
  }

  .rec {
    display: none;
  }
}
