:root {
  --main-font-family: "IBM Plex Mono", sans-serif;
  --focus-color: #db00ff;
  --page-bg-cl: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --nav-hover-color: #ff007066;
  --card-title-color: #ff0070;
  --title-color: #000028;
  --text-color: #f1b2ce;

  --layout-padding: 10px;
  --header-margin-block-end: 40px;
  --case-margin-block-end: 50px;
  --card-margin-block-end: 20px;
  --grid-gap: 20px;

  --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --bg-image: url("/images/cover-image-dark.png");

  --font-bold: 700;
  --font-light: 400;
}

@media (width >= 768px) {
  :root {
    --layout-padding: 20px;
    --header-margin-block-end: 60px;
    --case-margin-block-end: 80px;

    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
